@import url('https://fonts.googleapis.com/css2?family=Acme&family=Iceland&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@600&family=Acme&family=Iceland&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background:url(/img/back.png) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
}

.navbar{

    width: 100%;
    height: 125px;
    background: rgb(255, 255, 255);
    font-size: 36px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
    font-family: 'Acme', sans-serif;
}
.navbar .container{
    
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 50px 0px;
    text-decoration: none;
}
.navbar-menu{
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}
.navbar-wrap ul{
    display: flex;
    align-items: center;
    list-style-type: none;
}
.navbar-brand{
    margin-right: 50px;
}
.button-call{
    width: 336px;
    height: 66px;
    font-size: 24px;
    font-family: 'Acme', sans-serif;
    background: rgb(241,196,135);
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 2px;
    margin-left: 50px;
    color: rgb(96,96,96);
    cursor:pointer;
}
.navbar-text{
    text-decoration: none;
    color: rgb(96,96,96);
}
h1{
    width: 710px;
    font-size: 58px;
    margin: 30px 0px 0px;
    font-family:Arial, Helvetica, sans-serif;
    position: absolute;
    z-index: 1;
    margin:39px 0px 0px 39px;

}
.h1-span{
    color: rgb(241,196,135);
}
.map{
    position: relative;
    margin:115px 0px 0px 110px;
}
.nav-svg{
    padding: 10px;
}
.body-container{
    display: flex;
}
.card-container{
    width: 380px;
    height: 700px;
    position: relative;
    margin-top: 150px;
}